*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    box-sizing: border-box;
    font-size: 1.5rem;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 214, 214);
}
#leaderboard-container{
    display: flex;
    width: max-content;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
#leaderboard{
    border-collapse: collapse;
}
table, td, th{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}